.B_grande{text-align: center;
        border: 3px black solid;}

h3{border-bottom: blue 2px solid;
    text-align: left;
    margin-left: 15px;
    background: rgba(128, 128, 128, 0.411);
    }

img{width: 20%;}

h2{margin-bottom: 30px;}

p{margin-left: 20px;}

.bloque{width: 40%;
    margin:30px auto;
    padding:auto;
    text-align: center;
    border: black solid 5px;}