table{border: black 3px solid; width: 70%; margin-left: 250px ;}
td{border: black 3px solid;}
th{border: black 3px solid;}
div{text-align: center;}
h1{margin-left: 250px ;}
.ies{margin-left: 250px ;}
h2{margin-left: 1000px;
    margin-right: 300px;}

.gris{background-color: rgba(128, 128, 128, 0.644);}


